@import "@sass/abstracts/_abstracts.scss";

.header {
    background: lavender;
    border-radius: 6px;
    padding: 0 30px;

    &__nav {
        column-gap: 10px;
        display: flex;

        a {
            color: cornflowerblue;
            font-size: 20px;
            padding: 20px 10px;
            text-decoration: unset;

            &:hover {
                background: lightpink;
                color: snow;
            }
        }
    }
}
